.login {
  max-width: 80%;
  height: 80%;
  display: flex;
  background-color: var(--color--dark-gray);
  border-radius: 1rem;
  overflow: hidden;
}

/* background */
.login .login-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 50%;
  background: rgb(0, 128, 255);
  background: linear-gradient(
    180deg,
    rgba(0, 128, 255, 1) 0%,
    rgba(111, 250, 204, 1) 100%
  );
  padding: 0 4em;
  color: var(--color--white);
}

.login .login-background .title {
  font-family: var(--font--point);
  font-size: var(--font--medium);
  font-weight: var(--weight--medium);
  margin-bottom: 2rem;
}

.login .login-background .subtitle {
  font-size: var(--font--regular);
  font-weight: var(--weight--medium);
  margin-bottom: 1rem;
}

.login .login-background .description {
  font-size: var(--font--small);
  font-weight: var(--weight--regular);
}

.login .login-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 50%;
  padding: 0 4em;
}

.login .login-container .login-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.login .login-container .login-header .logo-img {
  width: 38px;
}

.login .login-container .login-header .logo-title {
  color: var(--color--white);
  font-family: var(--font--point);
  font-size: var(--font--medium);
  font-weight: var(--weight--medium);
  letter-spacing: -2px;
}

.login .login-container .login-form {
  display: flex;
  flex-direction: column;
}

.login .login-container .login-form input {
  border: none;
  outline: 0;
  border-radius: 1rem;
  padding: 1rem;
  background-color: var(--color--black);
  color: var(--color--white);
  font-size: var(--font--small);
  font-weight: var(--weight--regular);
}

.login .login-container .login-form input:not([type='submit']) {
  margin-bottom: 2rem;
}

.login .login-container .login-form input::placeholder {
  color: var(--color--light-gray);
}

.login .login-container .login-form input[type='submit'] {
  cursor: pointer;
  background: rgb(0, 128, 255);
  background: linear-gradient(
    0deg,
    rgba(0, 128, 255, 1) 0%,
    rgba(88, 163, 238, 1) 100%
  );
}

.login .login-container .login-form input[type='submit']:hover {
  background: var(--color--blue);
}

/* media query */
@media screen and (min-width: 769px) and (max-width: 1025px) {
  .login {
    width: 100%;
  }

  .login .login-background {
    display: none;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .login {
    width: 100%;
    max-width: 100%;
    height: 100%;
  }

  .login .login-background {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .login {
    width: 100%;
    max-width: 100%;
    height: 100%;
  }

  .login .login-background {
    display: none;
  }
}
