.login-body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  max-width: 80%;
  height: 80%;
  display: flex;
  border-radius: var(--border--default);
  background-color: var(--color--light-gray);
  overflow: hidden;
}

.login .login-background {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 50%;
  position: relative;
  padding: 0 4em;
  background: var(--color--blue);
  background: var(--gradient--green);
  color: var(--color--white);
}

.login .login-background img {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  filter: blur(10px);
  opacity: 0.5;
}

.login .login-background .title {
  font-family: var(--font--point);
  font-size: var(--font--medium);
  font-weight: var(--weight--medium);
  margin-bottom: var(--margin--default);
  z-index: 1;
}

.login .login-background .subtitle {
  font-size: var(--font--regular);
  font-weight: var(--weight--medium);
  margin-bottom: var(--margin--less);
  z-index: 1;
}

.login .login-background .description {
  font-size: var(--font--small);
  font-weight: var(--weight--regular);
  z-index: 1;
}

.login .login-main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 50%;
  padding: 0 4em;
}

.login .login-main .login-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--margin--default);
}

.login .login-main .login-form {
  display: flex;
  flex-direction: column;
}

.login .login-main .login-form input:not([type='submit']) {
  border: none;
  border-radius: var(--border--default);
  outline: none;
  margin-bottom: var(--margin--default);
  padding: var(--margin--less);
  background-color: var(--color--white);
  font-size: var(--font--small);
  font-weight: var(--weight--regular);
}

.login .login-main .login-form input:not([type='submit'])::placeholder {
  color: var(--color--dark-gray);
}

.login .login-main .login-form input:not([type='submit']):focus {
  box-shadow: var(--box--shadow);
}

/* media query */
@media screen and (min-width: 769px) and (max-width: 1025px) {
  .login {
    width: 100%;
    max-width: 100%;
    height: 100%;
  }

  .login .login-background {
    display: none;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .login {
    width: 100%;
    max-width: 100%;
    height: 100%;
  }

  .login .login-background {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .login {
    width: 100%;
    max-width: 100%;
    height: 100%;
  }

  .login .login-background {
    display: none;
  }
}

@media screen and (min-width: 280px) and (max-width: 319px) {
  .login {
    width: 100%;
    max-width: 100%;
    height: 100%;
  }

  .login .login-background {
    display: none;
  }
}
