.tags {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.hash {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  color: var(--color--white);
  font-size: var(--font--micro);
  margin: 0.3em;
}

.hash.cook {
  background-color: var(--color--lilac);
}

.hash.art {
  background-color: var(--color--purple);
}

.hash.music {
  background-color: var(--color--magenta);
}

.hash.fashion {
  background-color: var(--color--pink);
}

.hash.pet {
  background-color: var(--color--peach);
}

.hash.photography {
  background-color: var(--color--orange);
}

.hash.coding {
  background-color: var(--color--dark-green);
}

.hash.sports {
  background-color: var(--color--yellow-green);
}

.hash.movies {
  background-color: var(--color--navy);
}

.hash.book {
  background-color: var(--color--red);
}

.hash.design {
  background-color: var(--color--blue);
}
