:root {
  --color--black: #1b1a1d;
  --color--dark-gray: #2c2e2f;
  --color--light-gray: #aaacad;
  --color--white: #fefefe;
  --color--blue: #0080ff;
  --color--teal: #00b8c7;
  --color--green: #6ffacc;
}
