@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&family=Kanit:wght@500;700;900&display=swap');

:root {
  /* font-family */
  --font--main: 'Inter', sans-serif;
  --font--point: 'Kanit', sans-serif;

  /* font-size */
  --font--huge: 3.2rem;
  --font--large: 2rem;
  --font--medium: 1.6rem;
  --font--regular: 1rem;
  --font--small: 0.85rem;
  --font--micro: 0.75rem;

  /* font-weight */
  --weight--black: 900;
  --weight--bold: 700;
  --weight--medium: 500;
  --weight--regular: 400;
  --weight--light: 300;
}

@media screen and (max-width: 48rem) {
  :root {
    /* font-size */
    --font--huge: 2.8rem;
    --font--large: 1.8rem;
    --font--medium: 1.4rem;
    --font--regular: 1rem;
    --font--small: 0.75rem;
    --font--micro: 0.65rem;
  }
}
